.formulario {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  font-size: 4rem;
  text-decoration: none;
  color: white;
}